<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<div class="all">
	<div class="row">
		<div class="col-xs-12 col-lg-4 col-md-4 col-sm-6">
			<div class="col">
				<div class="col_title">
					<span class="dengji">优</span>
					<span class="time">今天 15:19:54</span>
					<div class="clear"></div>
				</div>
				<div class="col_conten">
					<div>
						<span class="col_conten_span1">对称性</span>
						<span class="col_conten_span2">良好</span>
						<span class="col_conten_span3">0.88%</span>
						<div class="clear"></div>
					</div>
					<div>
						<span class="col_conten_span1">稳定性</span>
						<span class="col_conten_span2">良好</span>
						<span class="col_conten_span3">4.56%</span>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-lg-4 col-md-4 col-sm-6">
			<div class="col">
				<div class="col_title">
					<span class="dengji">优</span>
					<span class="time">今天 15:19:54</span>
					<div class="clear"></div>
				</div>
				<div class="col_conten">
					<div>
						<span class="col_conten_span1">对称性</span>
						<span class="col_conten_span2">良好</span>
						<span class="col_conten_span3">0.88%</span>
						<div class="clear"></div>
					</div>
					<div>
						<span class="col_conten_span1">稳定性</span>
						<span class="col_conten_span2">良好</span>
						<span class="col_conten_span3">4.56%</span>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div><div class="col-xs-12 col-lg-4 col-md-4 col-sm-6">
			<div class="col">
				<div class="col_title">
					<span class="dengji">优</span>
					<span class="time">今天 15:19:54</span>
					<div class="clear"></div>
				</div>
				<div class="col_conten">
					<div>
						<span class="col_conten_span1">对称性</span>
						<span class="col_conten_span2">良好</span>
						<span class="col_conten_span3">0.88%</span>
						<div class="clear"></div>
					</div>
					<div>
						<span class="col_conten_span1">稳定性</span>
						<span class="col_conten_span2">良好</span>
						<span class="col_conten_span3">4.56%</span>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-lg-4 col-md-4 col-sm-6">
			<div class="col">
				<div class="col_title">
					<span class="dengji">优</span>
					<span class="time">今天 15:19:54</span>
					<div class="clear"></div>
				</div>
				<div class="col_conten">
					<div>
						<span class="col_conten_span1">对称性</span>
						<span class="col_conten_span2">良好</span>
						<span class="col_conten_span3">0.88%</span>
						<div class="clear"></div>
					</div>
					<div>
						<span class="col_conten_span1">稳定性</span>
						<span class="col_conten_span2">良好</span>
						<span class="col_conten_span3">4.56%</span>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-lg-4 col-md-4 col-sm-6">
			<div class="col">
				<div class="col_title">
					<span class="dengji">优</span>
					<span class="time">今天 15:19:54</span>
					<div class="clear"></div>
				</div>
				<div class="col_conten">
					<div>
						<span class="col_conten_span1">对称性</span>
						<span class="col_conten_span2">良好</span>
						<span class="col_conten_span3">0.88%</span>
						<div class="clear"></div>
					</div>
					<div>
						<span class="col_conten_span1">稳定性</span>
						<span class="col_conten_span2">良好</span>
						<span class="col_conten_span3">4.56%</span>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-lg-4 col-md-4 col-sm-6">
			<div class="col">
				<div class="col_title">
					<span class="dengji">优</span>
					<span class="time">今天 15:19:54</span>
					<div class="clear"></div>
				</div>
				<div class="col_conten">
					<div>
						<span class="col_conten_span1">对称性</span>
						<span class="col_conten_span2">良好</span>
						<span class="col_conten_span3">0.88%</span>
						<div class="clear"></div>
					</div>
					<div>
						<span class="col_conten_span1">稳定性</span>
						<span class="col_conten_span2">良好</span>
						<span class="col_conten_span3">4.56%</span>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
